{% extends 'base.html' %}

{% block content %}
{{ super() }}
    <h1>{{ title }}</h1>
    <p>{{username|capitalize}}, мы рады приветствовать вас на нашей странице! Здесь вы найдете подробную информацию о нашей компании, 
        ее истории, основных направлениях деятельности, а также о продукции, которую мы предлагаем. Мы постоянно работаем 
        над улучшением качества наших товаров и услуг, чтобы удовлетворить все потребности наших клиентов. Спасибо за ваше доверие и надеемся 
        на долгосрочное сотрудничество!
    </p>
{% endblock %}
