<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
</head>
<body>
{% block content -%}
    {%- block mainmenu -%}
        <div class="menu">
            <ul>
                {% for m in menu -%}
                    <li><a href="{{url_for(m.url)}}">{{m.name}}</a></li>
                {% endfor -%}
            </ul>
        </div>
    {% endblock mainmenu -%}
{% endblock -%}
</body>