{% extends 'base.html' %}

{% block content %}
{{ super() }}
    
    <form action="/login/" method="post">
        <p><label>Имя: </label> <input type="text" name="username" value="" requied />
        <p><label>Пароль: </label> <input type="password" name="psw" value="" requied />
        <div class="container">
            <input type="submit" value="Войти" />
        {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}
        </div>
    </form>

{% endblock %}
